.task-holder {
    background-color: #444444;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 5px;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}
h2{
    color:#ff9900;
}
p{
    margin-top: -20px;
}
.task-content{
    
}
.task-actions{
    margin-right: 3rem;
}
.btn {
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    margin: 5px;
}
.complete-btn{
    border: solid 2px #6eb299;
    color: #6eb299;
    ;
}
.delete-btn{
    border: solid 2px #be6f6f;
    color: #be6f6f;
}
