.task-holder {
    background-color: rgb(88, 84, 84);
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 5px;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}
h2{
    color:rgb(238, 165, 8);
}
p{
    margin-top: -20px;
}
.task-content{
    
}
.task-actions{
    margin-right: 3rem;
}
.btn {
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    margin: 5px;
}
.complete-btn{
    border: solid 2px rgb(35, 151, 31);
    color: rgb(35, 151, 31);
    ;
}
.delete-btn{
    border: solid 2px rgb(185, 44, 44);
    color: rgb(185, 44, 44);
}
